/* charity: water Brand Colors & Fonts

Primary Colors:
- Yellow:     #FFC907
- Blue:       #2E9DF7

Secondary Colors:
- Light Blue: #8BD1CB
- Green:      #4FCB53
- Orange:     #FF902A
- Red:        #F5402C
- Dark Green: #159A48
- Pink:       #F16061

Fonts:
- Proxima Nova
- Avenir

*/
.small-header {
  background-color: #fff7ed;
  padding: 1.5rem;
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.large-header {
  background-color: #fff7ed;
  padding: 2rem;
  max-width: 600px;
  height: 120px;
  margin: 0 auto;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: 100px;
  height: 100vh;
}
